Diese Datei dient zur Datenbereinigung von NULL Werten oder Placeholder in den Excel-Dateien

Schritt 1: Die gebrauchten Abhängigkeiten laden

In [236]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tkinter.filedialog import askopenfilename
from tkinter.messagebox import Message
import seaborn as sns

Schritt 2: Die Dateien laden

In [237]:
df = pd.read_excel(askopenfilename())

Schritt 3: Informationen über die geladene Datei anzeigen:

In [238]:
print(df.head(10))

  datum       Abteilung                                        Krankheiten  \
0  2018  Innere Medizin    Bestimmte infektiöse und parasitäre Krankheiten
1   NaN             NaN                             Bösartige Neubildungen
2   NaN             NaN                                Übrige Neubildungen
3   NaN             NaN                             Krankheiten des Blutes
4   NaN             NaN  Endokrine, Ernährungs- und Stoffwechselkrankhe...
5   NaN             NaN                 Psychische und Verhaltensstörungen
6   NaN             NaN                      Krankheiten des Nervensystems
7   NaN             NaN  Krankheiten des Auges und der Augenanhangsgebilde
8   NaN             NaN     Krankheiten des Ohres und des Warzenfortsatzes
9   NaN             NaN                   Krankheiten des Kreislaufsystems

  unter 1 Jahr 1-5 jahre 5- 10 jahre 10-15 jahre 15-18 jahre 18-20 jahre  \
0          147       309         171         143         679        1944
1            3         7           1          12          28         302
2            2         2           -           7           8          44
3            1         5           6          11          20         145
4            9        15          34         218         422         937
5            6        10          10         114        1665        3772
6            6        25          29          73         210         501
7            2         3           -           2           3           7
8            5         7           6           5          11          25
9           29        26          13          93         304         931

  20-25 jahre  ... Insgesamt 55-60 Insgesamt 60-65 Insgesamt 65-70  \
0        5125  ...           18493           20240           24413
1         844  ...           34833           45026           53659
2         128  ...            6894            8321           10078
3         378  ...            3971            5021            6768
4        2028  ...           16181           17583           20997
5        6695  ...           15201           10637            7072
6        1291  ...           13918           13281           12671
7          35  ...             255             256             277
8          73  ...            2110            2106            2064
9        2576  ...           97103          117258          146168

  Insgesamt 70-75 Insgesamt 75-80 Insgesamt 80-85 Insgesamt 85-90  \
0           26131           44024           46556           32195
1           50392           63000           44175           18932
2           10228           14079           11028            5019
3            7539           13099           14831           10502
4           22220           40700           49930           40154
5            5214            6638            5818            3716
6           11557           16385           13974            7185
7             267             374             356             164
8            2071            2826            2449            1109
9          155432          248783          241363          149762

  Insgesamt 90-95 Insgesamt 95 und mehr Insgesamt 35-402
0           15915                  3550         313459.0
1            5360                   863         362378.0
2            1560                   269          77759.0
3            5179                  1235          81924.0
4           21920                  5554         283904.0
5            1580                   331         150252.0
6            2797                   518         134463.0
7              67                     6           2855.0
8             345                    55          20470.0
9           66918                 14328        1397997.0

[10 rows x 71 columns]

In [239]:
print(df.info)

<bound method DataFrame.info of                datum                 Abteilung  \
0               2018            Innere Medizin
1                NaN                       NaN
2                NaN                       NaN
3                NaN                       NaN
4                NaN                       NaN
...              ...                       ...
4840             NaN                       NaN
4841             NaN                       NaN
4842             NaN  Unbekannte Fachabteilung
4843             NaN                       NaN
4844  ______________                       NaN

                                            Krankheiten unter 1 Jahr  \
0       Bestimmte infektiöse und parasitäre Krankheiten          147
1                                Bösartige Neubildungen            3
2                                   Übrige Neubildungen            2
3                                Krankheiten des Blutes            1
4     Endokrine, Ernährungs- und Stoffwechselkrankhe...            9
...                                                 ...          ...
4840                                          unbekannt            -
4841                                          Insgesamt           36
4842                 Psychische und Verhaltensstörungen            -
4843                                          Insgesamt            -
4844                                                NaN          NaN

     1-5 jahre 5- 10 jahre 10-15 jahre 15-18 jahre 18-20 jahre 20-25 jahre  \
0          309         171         143         679        1944        5125
1            7           1          12          28         302         844
2            2           -           7           8          44         128
3            5           6          11          20         145         378
4           15          34         218         422         937        2028
...        ...         ...         ...         ...         ...         ...
4840         -           -           1           -           -         NaN
4841       113         172         233         322         498         NaN
4842         -           -           -           -           -         NaN
4843         -           -           -           -           -         NaN
4844       NaN         NaN         NaN         NaN         NaN         NaN

      ... Insgesamt 55-60 Insgesamt 60-65 Insgesamt 65-70 Insgesamt 70-75  \
0     ...           18493           20240           24413           26131
1     ...           34833           45026           53659           50392
2     ...            6894            8321           10078           10228
3     ...            3971            5021            6768            7539
4     ...           16181           17583           20997           22220
...   ...             ...             ...             ...             ...
4840  ...               1               6               1               -
4841  ...           15053           16682           15604           15626
4842  ...               -               -               -               1
4843  ...               -               -               -               1
4844  ...             NaN             NaN             NaN             NaN

     Insgesamt 75-80 Insgesamt 80-85 Insgesamt 85-90 Insgesamt 90-95  \
0              44024           46556           32195           15915
1              63000           44175           18932            5360
2              14079           11028            5019            1560
3              13099           14831           10502            5179
4              40700           49930           40154           21920
...              ...             ...             ...             ...
4840               1               1               -               -
4841           13797           16016           10135            3595
4842               -               -               -               -
4843               -               -               -               -
4844             NaN             NaN             NaN             NaN

     Insgesamt 95 und mehr Insgesamt 35-402
0                     3550         313459.0
1                      863         362378.0
2                      269          77759.0
3                     1235          81924.0
4                     5554         283904.0
...                    ...              ...
4840                     -             18.0
4841                  1009         147352.0
4842                     -              1.0
4843                     -              1.0
4844                   NaN              NaN

[4845 rows x 71 columns]>

Datentypen ausgeben:

In [240]:
print(df.dtypes)

datum                     object
Abteilung                 object
Krankheiten               object
unter 1 Jahr              object
1-5 jahre                 object
                          ...
Insgesamt 80-85           object
Insgesamt 85-90           object
Insgesamt 90-95           object
Insgesamt 95 und mehr     object
Insgesamt 35-402         float64
Length: 71, dtype: object

Schritt 4: Funktionen zur Visualisierung der NULL und Dummy-Werte

In [241]:
#df.loc[1:, "TODO"] = df.loc[1: ,"TODO"].astype(float)

In [242]:
def df_if_null(df):

    plt.figure(figsize=(12,8))
    sns.heatmap(df.isnull(), cbar=False, cmap="cividis", yticklabels=False)
    
    plt.title("Heatmap der Null-Werte im DataFrame", fontsize=16)
    plt.xlabel("Spalten", fontsize=12)
    plt.ylabel("Zeilen", fontsize=12)
    plt.show()

In [1]:
# df_if_null(df)

In [244]:
def df_if_dummy(df, dummy_val):

    contains_dash = df.astype(str).applymap(lambda x: dummy_val in x)
    
    # Heatmap erstellen
    plt.figure(figsize=(12, 8))
    sns.heatmap(contains_dash, cbar=False, cmap="cividis", yticklabels=False)
    
    # Titel und Achsenbeschriftungen hinzufügen
    plt.title("Heatmap der Werte mit Dummys im DataFrame", fontsize=16)
    plt.xlabel("Spalten", fontsize=12)
    plt.ylabel("Zeilen", fontsize=12)
    plt.show()

In [2]:
# df_if_dummy(df, "-")

Schritt 5: Dummy und Null werte manuell oder per Funktion ersetzen

Dummys:

Speichern einer Spalte, welche nicht verändert werden soll

In [257]:
def safe_column(df, name):
    df_column = df.pop(name)
    return df_column

# df_column = safe_column(df, "TODO")

Dummys ersetzen

In [252]:

def replace_dummies(df, dummy_val, new_val):
    df = df.replace(dummy_val, new_val)
    return df

df = replace_dummies(df, "-", 0)

/var/folders/jp/mvl5k93n6r7d_twnt5jwf1780000gn/T/ipykernel_3617/4293984147.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(dummy_val, new_val)

Spalte wieder einfügen

In [258]:
def insert_column(df, df_column, pos, name):
    df.insert(pos, name, df_column)
    return df

# df = insert_column(df, df_column, 3, "TODO")

In [3]:
# df_if_dummy(df,"-")